*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
body{
  font-family:"Poppins", "sans-serif";
}
.card{
    width: 300px;
    box-shadow: 0px 0px 15px #bbb;
    border-radius: 5px;
    border:1px solid #ddd;
}
.card__figure img{
    position: relative;
    left: -20px;
}

.card__service{
    display: flex;
    height: 35px;
    list-style: none;
    border-bottom:1px solid #ddd;
}
.card_service{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items:  center;
    border-right:1px solid #ddd;
    font-size: 1.2rem;
    color:#bbb;
    transition: flex 0.3s ease;
}
.card__service:hover{
    flex:1.2;
    background-color:#D30314;
}
.card__service:last-child {
    border-right: none;
}
.card__desciption{
    padding: 0.8rem 0.5rem;
}
.card__title{
         color: #434A54;
text-transform: uppercase;
margin-bottom: 0.8rem;   
}

.card__text{
    color: #434A54;
line-height:1.5rem; 
margin-bottom: 1rem;;    
}
.card__extra{
    color:#444;
}